<form method="get" action="">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="Name" required>
        <label for="name">Nome</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="Email" required>
        <label for="email">Email</label>
    </div>
    <div class="form-floating">
        <textarea class="form-control" id="message" placeholder="Message" style="height: 100px"
            required></textarea>
        <label for="message">Menssagem</label>
    </div>
    <button type="submit" class="btn btn-primary-contact mt-3 col-12">Enviar</button>
</form>