<div class="container">
    <h2 class="mb-5 text-center">Nossos Serviços</h2>
    <div class="d-flex row row-cols-1 row-cols-md-3 g-4">
        <div class="col-auto">
            <div class="card">
                <img src="/Assets/images/corte_laser.webp" class="card-img-top" alt="Corte a Laser">
                <div class="card-body">
                    <h5 class="card-title text-center">Corte a Laser</h5>
                    <p class="card-text text-justify">Utilizando tecnologia de ponta, a empresa pode oferecer serviços
                        de
                        corte preciso em uma variedade de metais, como aço, alumínio, aço inoxidável, entre
                        outros. O corte a laser proporciona alta precisão e qualidade de acabamento.</p>
                        <div class="d-flex justify-content-center">
                            <a href="/corte-a-laser.html" class="btn btn-lg btn-orcamento">Saiba mais <i class="fas fa-plus"></i></a>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card">
                <img src="/Assets/images/dobra-de-chapas-de-aco.webp" class="card-img-top"
                    alt="Dobra de Chapas Metálicas">
                <div class="card-body">
                    <h5 class="card-title text-center">Dobra de Chapas Metálicas</h5>
                    <p class="card-text text-justify">A empresa pode realizar dobra de chapas metálicas utilizando
                        prensas e equipamentos de precisão. Essa etapa é crucial na fabricação de peças
                        metálicas, permitindo criar formas específicas e ângulos desejados.</p>
                        <div class="d-flex justify-content-center">
                            <a href="/dobra-chapa.html" class="btn btn-lg btn-orcamento">Saiba mais <i class="fas fa-plus"></i></a>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card">
                <img src="/Assets/images/Prototipagem.webp" class="card-img-top" alt="Prototipagem e Produção em Massa">
                <div class="card-body">
                    <h5 class="card-title text-center">Prototipagem e Produção em Massa</h5>
                    <p class="card-text">A empresa pode auxiliar na prototipagem de novas peças metálicas,
                        oferecendo suporte desde o design inicial até a produção em larga escala. Isso
                        inclui a otimização de processos para garantir eficiência e custo-benefício.</p>
                        <div class="d-flex justify-content-center">
                            <a href="/prototipagem.html" class="btn btn-lg btn-orcamento">Saiba mais <i class="fas fa-plus"></i></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>